@import "../variables";

.productCategory {
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 50px;
  color: $orange;
  align-items: center;

  @media (max-width: 700px) {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  @media (max-width: 480px) {
    margin-top: 0px;
  }
}

.pizza-block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;
  transition: all 0.2s ease-in-out;
  border-radius: 50px;

  &-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.03);
    }
  }

  &__image {
    width: 280px;
    height: 200px;
    border-radius: 50px;
  }

  &__selector {
    display: flex;
    background-color: $creamy;
    border-radius: 50px;
    flex-direction: column;
    padding: 6px;
    margin: 10px;

    ul {
      display: flex;
      flex: 1;

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: $orange;
          transition: 0.3s;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 50px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
    color: $orange;
  }

  &__new {
    display: flex;

    // color: $orange;
    // background-color: $creamy;

    color: $black;
    background-color: $orange;

    justify-content: center;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    z-index: 1;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-family: KanitCyrillic;

    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
  }
}

.basket {
  &__image {
    width: 280px;
    height: 200px;
    border-radius: 10px;
  }
}

.item-block {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  &__title {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1%;
    color: $orange;
  }

  &__weight {
    color: $gray;
    font-size: 16px;
  }

  &__description {
    color: $gray;
    cursor: pointer;
    transition: max-height 0.2s ease;
  }
}
